*{
    padding:5px;
    margin:auto;
}
.header{
display:flex;
border:1px solid black;
font-family:monospace;
background: papayawhip;
}
.logo{
    background-color:white;
    font-size:48px;
    color:tomato;
}
ul {
    display:flex;
    list-style-type: none; /* this removes the bullet point*/

}
a{
    font-size:22px;
    background:white;
    padding:5px;
}