*{
    padding:5px;
    margin:auto;
}
.header{
display:flex;
border:1px solid black;
}
.left-links{
    display:flex;
    flex-direction:row;
    border:1px solid black;
    justify-content:center;
}